body {
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    background-image: linear-gradient(to right, rgb(208, 230, 255), rgb(197, 193, 255));
}

.hero {
    background-image: url(../assets/images/weather-header.jpeg);
    height: 300px;
    width: 100%;
    background-position: center;
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 40px georgia;
    padding: 10px 10px;
}

.hero p {
    position: absolute;
    bottom: 8px;
    left: 50px;
    margin-left: 320px;
    padding: 5px 10px;
}

main {
    display: flex;
    flex-direction: row;
    min-height: 80%;
    height: min-content;
    justify-content: space-evenly;
}

footer {
    height: 10%;

    border: solid black 1px;
}

/* .container {
    width: 50%;

    align-items: center;
}*/

.input-form {
    height: 30%;

    border: solid black 1px;
}

.iframe-container {
    height: 70%;
    border: solid black 1px;
}

#forecast-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.day-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    
}

.time-container {
    border: solid black 2px;
    border-radius: 3%;
    display: flex;
    flex-direction: row;
    width: 49%;
    margin-left: auto;
    margin-right: auto;
}

.info-container {
    flex: auto;
    width: 60%;
}

.icon {
    flex: auto;
}

/* Forecast Modal */
.modal-overlay {
    visibility: hidden; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close-btn {
    background-color: red;
    color: white;
    border: 1px black solid;
    position: absolute;
    right: 1%;
    top: 1%;

}