body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    align-items: center;
    height: 10%;

    border: solid black 1px;
    margin: 10px 0 10px 0;
}

main {
    display: flex;
    flex-direction: row;
    min-height: 80%;
    height: min-content;
    justify-content: space-evenly;

    border: solid black 1px;
}

div {
    border: solid black 1px;
}

footer {
    height: 10%;

    border: solid black 1px;
}

.container {
    width: 50%;

    align-items: center;
}

.input-form {
    height: 30%;

    border: solid black 1px;
}

.iframe-container {
    height: 70%;
    border: solid black 1px;
}

#forecast-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.day-container {
    border: solid black 1px;
    width: 100%;
    

    display: flex;
    flex-direction: row;
}

.time-container {
    display: flex;
    flex-direction: row;
    width: 49%;
    margin-left: auto;
    margin-right: auto;
}

.info-container {
    flex: auto;
    width: 60%;
}

.icon {
    flex: auto;
}