body {
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    background-image: linear-gradient(to right, rgb(208, 230, 255), rgb(197, 193, 255), rgb(136, 128, 255));
}
/* Header styles*/
.hero {
    background-image: url(../assets/images/weather-header.jpeg);
    height: 300px;
    width: 100%;
    background-position: center;
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 40px georgia;
    padding: 10px 10px;
}

.description {
    padding: 5px 10px;
    background-color: cornflowerblue;
}

main {
    display: flex;
    flex-direction: row;
    min-height: 80%;
    height: min-content;
    justify-content: space-evenly;
}

/* input/ iframe styles */
.left {
    background-color: rgb(85, 106, 197);
    border: 3px solid darkblue;
}

.right {
    border: 3px solid darkblue;
    background-color: rgb(238, 241, 247);
}

#input-container {
    max-height: 76vh !important;
}

.input-form {
    height: 30%;
    background-color: rgb(238, 241, 247);
}

.iframe {
    height: 63%;
    margin: 2rem 1rem;
}

.no-trips {
    text-align: center;
    color: darkblue;
}

/* footer styles */
footer {
    height: 10%;
    background-color: cornflowerblue;
    font: 30px Georgia;
    padding-top: 40px;
}

/* Forecast Modal */
.modal-overlay {
    visibility: hidden; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 66%; /* Could be more or less, depending on screen size */
}

.close-btn {
    background-color: red;
    color: white;
    border: 1px black solid;
    border-radius: 15%;
    position: absolute;
    right: 1%;
    top: 1%;
}

#forecast-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.day-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.time-container {
    border: solid black 2px;
    border-radius: 3%;
    display: flex;
    flex-direction: row;
    width: 45%;
    height: 200px;
    margin: 0.5% auto 0.5% auto;
    background-size: contain;
}

.info-container {
    flex: auto;
    width: 100%;
    height: 100%;
    padding: 3%;
    background: linear-gradient(90deg, white, white,rgba(255,255,255,.97), rgba(255,255,255,0.5), rgba(255,255,255,0));
}

.details-btn {
    background-color: navy;
    border-radius: 10%;
    margin-right: 5px;
    border: 1px black solid;
    color: lightblue;
    width: fit-content;
}

.delete-btn {
    background-color: red;
    border-radius: 10%;
    margin-right: 5px;
    border: 1px black solid;
    color: lightblue;
    width: fit-content;
}


.add-btn {
    background-color:darkturquoise;
    border-radius: 10%;
    color: white;
    border: black;
    width: fit-content;
}

.details-overlay {
    visibility: hidden; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on... topper? */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.details-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    justify-content: center;
}

#details-close-btn {
    position: relative;
    margin-left: 50%;
}

.modal-body .day-container {
    flex-direction: column;
}

#trip-container {
    overflow:auto;
}

#map {
    height: 100%;
}

.trip-btn {
    width: 20%;
}

.info-container.btn-container {
    justify-content: start;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .hero {
        height: 150px;
    }
    
    .day-container {
        flex-direction: column;
    }

    .time-container {
        width: 90%;
        height: fit-content;
    }

    main {
        justify-content: center;
    }

    main div {
        height: fit-content;
    }

    #map {
        height: 300px;
    }
}


/* MQ for MOBILE DEVICES */
@media screen and (max-width: 767px) {

    .hero h1 {
        width: fit-content;
    }

    main {
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        padding: auto;
        width: 100%;
    }

    #input-container {
        width: 95%;
        margin-left: 0 auto !important;
        margin-right: 0 auto !important;
    }

    #trip-container {
        width: 95%;
        margin-left: 0 auto !important;
        margin-right: 0 auto !important;
    }

    .left.right {
        margin-left: 0;
    }

    #map {
        height: 300px;
    }

    .day-container {
        flex-direction: column;
    }

    .time-container {
        width: 90%;
        height: fit-content;
    }

    .modal-content {
        width: 90%;
    }

    .details-content {
        width: 60%;
    }

    footer {
        height: fit-content;
        padding-top: 15px;
    }
}